.footer {
    position: relative;
    padding: 50px 0px;
    margin: 0 auto;
}

.footer p {
    text-align: center;
}

.footer-grid {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0px 20px 60px 20px;
    gap: 10rem;
}

.footer-redes {
    justify-self: start;
    justify-items: center;
    display: grid;
    grid-template-columns:1fr;
    gap: 1.625rem;

}



.footer .contato-rede {
    width: fit-content;

}

.footer-lista {
    justify-self: end;
    display: flex;
    flex-direction: column;
    gap: 1.625rem;
    align-items: center;
}

.footer-lista li {
    text-align: start;
    width: 100%;
    padding: 5px;
}

.footer-lista li:hover {
    transform: scale(1.09);
}


@media (max-width: 900px) { 
    .footer {
        zoom: 80%;
    }

    .footer p {
        padding-top: 10px;
    }
}

@media (max-width: 600px) {
    .footer::before {
        position: absolute;
        content: "";
        height: 4px;
        width: 100%;
        top: 20px;
        background-color: var(--cor2);
    }
    .footer-grid {

        grid-template-columns: 1fr 1fr;
    }




}

@media (max-width: 450px) {
    .footer::before {
        top: -10px;
    }

    .footer {
        padding-top: 20px;
    }

    .footer p {
        width: 110vw;
        margin: 0 auto;
    }
    .footer-grid {
        row-gap: 3rem;

    }

    .footer-lista {
        width: 100%;
        justify-content: end;
        grid-row: 1;
        grid-column: 1/-1;
    }

    .footer-redes {
        grid-row: 1;
        grid-column: 2;
    }

}